<div class="container">
  <header>
    <h1>Calendar App</h1>
    <p>{{ currentDate }}</p>
  </header>
  <main>
    <div class="calendar-container">
      <app-calendar></app-calendar>
    </div>
    <div class="appointments-container">
      <h2>Appointments</h2>
      <!-- <div *ngFor="let appointment of appointments">
        <app-appointment [appointment]="appointment" (delete)="deleteAppointment($event)"></app-appointment>
      </div> -->
    </div>
    <div class="add-appointment">
      <h2>Add Appointment</h2>
      <form (ngSubmit)="addAppointment">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" [(ngModel)]="newAppointment.title" required>
        </div>
        <!-- Add other form fields for date, time, etc. -->
        <div class="form-group">
          <button type="submit">Add Appointment</button>
        </div>
      </form>
    </div>
    
  </main>
  <footer>
    <p>&copy; 2024 My Calendar App</p>
  </footer>
</div>
